<div class="alert alert-info">
    <p><f:translate key="dashboard_buy_pro" extensionName="popup_power" /></p>
    <p class="mb-0"><a href="https://popup-power.slavlee.de/buy-pro" target="_blank"><f:translate key="buy_pro_link" extensionName="popup_power" /></a></p>
</div>
<h2>Free vs. Pro</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="pp-free">Free</th>
            <th class="pp-pro">Pro</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="pp-free"><f:translate key="free_configurations" extensionName="popup_power" /></td>
            <td class="pp-pro"><f:translate key="pro_configurations" extensionName="popup_power" /></td>
        </tr>
        <tr>
            <td class="pp-free"><f:translate key="free_animations" extensionName="popup_power" /></td>
            <td class="pp-pro"><f:translate key="pro_animations" extensionName="popup_power" /></td>
        </tr>
        <tr>
            <td class="pp-free"><f:translate key="free_newfeatures" extensionName="popup_power" /></td>
            <td class="pp-pro"><f:translate key="pro_newfeatures" extensionName="popup_power" /></td>
        </tr>
    </tbody>
</table>

