<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
    <f:layout name="Backend/Default" />

    <f:section name="Content">
        <h1><f:translate key="module_dashboard_title" extensionName="popup_power" /></h1>
        <p><f:translate key="module_dashboard_description" extensionName="popup_power" /></p>
        <f:if condition="{noPageSelected}">
            <f:then>
                <p class="alert alert-warning"><f:translate key="module_dashboard_nopageselected" extensionName="popup_power" /></p>
            </f:then>
            <f:else>
                <f:if condition="{configuration}">
                    <f:then>
                        <f:render partial="Backend/Dashboard" arguments="{_all}" />
                    </f:then>
                    <f:else>
                        <f:render partial="Backend/DashboardBuyPro" arguments="{_all}" />
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:section>
</html>
