/***************************************************************
 * MODAL / Popup - START
 **************************************************************/
.poppower-layout-modal,
.poppower-layout-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.poppower-layout-popup {
    background: none;
    width: fit-content;
    height: auto;
}

.poppower-layout-modal.popuppower-show,
.poppower-layout-popup.popuppower-show {
    opacity: 1;
    height: 100%;
}

.poppower-layout-popup.popuppower-show {
    height: auto;
}

.poppower-layout-modal > .popuppower-container-inner,
.poppower-layout-popup > .popuppower-container-inner {
    width: fit-content;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
    overflow-y: auto;
    max-height: calc(100vh - 7rem);
}

@media screen and (min-width: 576px) {
    .poppower-layout-modal > div,
    .poppower-layout-popup > div {
        max-width: 80%;
    }
}
/***************************************************************
 * MODAL / Popup - END
 **************************************************************/
/***************************************************************
 * CLOSE BUTTON - START
 **************************************************************/
.popuppower-container > .popuppower-btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.popuppower-btn-close:before,
.popuppower-btn-close:after {
    position: absolute;
    left: 1rem;
    content: ' ';
    height: 2rem;
    width: 2px;
    background-color: #fff;
}

.popuppower-btn-close:before {
    transform: rotate(45deg);
}

.popuppower-btn-close:after {
    transform: rotate(-45deg);
}
/***************************************************************
 * CLOSE BUTTON - END
 **************************************************************/
/***************************************************************
 * MODAL POSITIONS - START
 **************************************************************/
.poppower-position-cleft > .popuppower-container-inner,
.poppower-position-bleft > .popuppower-container-inner {
    margin-left: 1rem;
}

.poppower-position-cright > .popuppower-container-inner,
.poppower-position-bright > .popuppower-container-inner {
    margin-right: 1rem;
}

.poppower-position-bleft,
.poppower-position-bright,
.poppower-position-bcenter {
    align-items: flex-end;
}

.poppower-position-bleft > .popuppower-container-inner,
.poppower-position-bright > .popuppower-container-inner,
.poppower-position-bcenter > .popuppower-container-inner {
    margin-bottom:  1rem;
}
/***************************************************************
 * MODAL POSITIONS - END
 **************************************************************/
