<h2><f:translate key="module_dashboard_form_layout_title" extensionName="popup_power" /></h2>
<div class="mb-3">
    <label for="hidden" class="form-label"><f:translate key="tx_popuppower_domain_model_configuration_layout" extensionName="popup_power" /></label>
    <f:form.select property="layout" options="{modal: '{f:translate(key:\'tx_popuppower_domain_model_configuration_layout_I_0\', extensionName: \'popup_power\')}'}" class="form-select" prependOptionLabel="{f:translate(key: 'module_dashboard_form_layout_prependLabel')}" prependOptionValue="" required="true" />
</div>
<div class="mb-3">
    <label for="hidden" class="form-label"><f:translate key="tx_popuppower_domain_model_configuration_position" extensionName="popup_power" /></label>
    <f:form.select property="position" options="{center: '{f:translate(key:\'tx_popuppower_domain_model_configuration_position_I_0\', extensionName: \'popup_power\')}'}" class="form-select" prependOptionLabel="{f:translate(key: 'module_dashboard_form_position_prependLabel')}" prependOptionValue="" required="true" />
</div>
<div class="mb-3">
    <label for="hidden" class="form-label"><f:translate key="tx_popuppower_domain_model_configuration_behaviour_appearance" extensionName="popup_power" /></label>
    <f:form.select property="behaviourAppearance" options="{center: '{f:translate(key:\'tx_popuppower_domain_model_configuration_behaviour_appearance_I_0\', extensionName: \'popup_power\')}'}" class="form-select" prependOptionLabel="{f:translate(key: 'module_dashboard_form_behaviour_appearance_prependLabel')}" prependOptionValue="" required="true" />
</div>
