<h2><f:translate key="module_dashboard_form_content_title" extensionName="popup_power" /></h2>
<div class="mb-3">
    <label for="hidden" class="form-label"><f:translate key="tx_popuppower_domain_model_configuration_popup_content" extensionName="popup_power" /></label>
    <f:form.select property="popupContent" options="{popupContentPages}" class="form-select" optionValueField="uid" optionLabelField="title" prependOptionLabel="{f:translate(key: 'module_dashboard_form_popup_content_prependLabel')}" prependOptionValue="" required="true" />
</div>
